@media screen and (max-width: 600px) {
    body {
        margin: 0%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
    }

    .nav-align{
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .body-main {
        padding: 2% 6%;
    }

    .header{
        padding: 0.5% 2%;
        background-color: rgb(2, 24, 53);
        color: white;
        display: list-item;
    }
    .heading {
        width: 100%;
        padding-left: 14px;
    }
    .gcse-custom {
        width: 100%;
        background-color: rgb(2, 24, 53);
        padding-top: 2%;
    }

    .nav-align a:not(:first-child) {
        display: none;
    }
    .nav-align a.icon {
      float: right;
      display: block;
    }

    .nav-align.responsive {
        position: relative;
    }

    .nav-align.responsive .icon {
        position: absolute;
        right: 0%;
        top: 0%;
    }

    .nav-align.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .sticky + .body-align {
        padding-top: 200px;
    }

    .index {
        visibility: hidden;
    }
  }
