@charset "UTF-8";

body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.top-nav {
  background-color: white;
  overflow: hidden;
}

.header {
    padding: 0.5% 20%;
    background-color: rgb(2, 24, 53);
    color: white;
}

.nav-align{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.top-nav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}
  
.top-nav a:hover {
  background-color: rgb(163, 190, 206);
  color: white;
}

.body-align {
    padding: 2% 20%;
}

.author {
    color: rgb(73, 72, 72);
    font-style: italic;
}

.gcse-custom {
    float: right;
    width: 30%;
    background-color: rgb(2, 24, 53);
    padding-top: 2%;
}

p {
    text-align: justify;
}

footer {
    background-color: rgb(2, 24, 53);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-center {
    text-align: center;
}